<header id="header">
    <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}/ax.png" alt="AX" /></a>
    {{ $url := path.Base .File.Dir }}
    <h1>
    <a href="{{ .Site.BaseURL }}"><strong>{{ .Site.Title }}</strong></a>
    {{ range $index, $element := split $url "/" }}
        {{ if ne $element "" }}
            / {{ . | humanize }}
        {{ end }}
    {{ end }}

    {{ if .IsHome }}
        / Albums
    {{ end }}

    </h1>
    {{ partial "navigation.html" . }}

</header>
