<!DOCTYPE HTML>
{{ partial "lang.html" . }}
<head>
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
{{ partial "head.html" . }}
</head>
<body class="loading">

	<script>
		//auto redirect from current *.gitlab.io to custom domain
		//if(location.hostname.search("gitlab.io")!= -1) location.href = "https://photos.axelceard.fr";
	</script>
        
    <div id="wrapper">

    {{ partial "header.html" . }}
        
        {{ block "main" . }}

        {{ end }}

    {{ partial "footer.html" . }}

    </div>

{{ partial "scripts.html" . }}

</body>
</html>
